// color.scss
$primary: #007bff;
$secondary: #6c757d;
$danger: #dc3545;

$redHitman : #DC2626;
$greyBGLight: #424244;
$greyBGDark: #18181B;

.titleColor {
    color: $redHitman;
    background-color: $greyBGLight;
}